.clearfix
  %h1.pull-left Listing Group
  %a.btn.btn-large.btn-primary.pull-right.create-action{:href => "#{new_group_path}", :title => "Create Group"} + Create Group

- if @groups.empty?
  %p.text-center
    No record to show
- else
  %table.table
    %tr
      %th #
      %th Name
    - @groups.each_with_index do |group, index|
      %tr
        %td= index + 1

        %td= link_to group.name, group_path(group)
        %td
          = link_to 'Edit', edit_group_path(group)
