.col-lg-6
  #chatwindow{'ng-controller'=>'ChatController', 'ng-init'=>"init(#{current_user.to_json}, #{@group.to_json})"}
    .titleBox
      = @group.name
    #messagewindow
      %ul 
        %li
          %p
            abc
        %li
          %p
            pqr    
    %form.sendWindow{:name => 'chat', 'ng-submit'=>'sendMessage()', 'novalidate'=>''}
      .input-group
        %input.form-control{:placeholder => "Type Message", :type => "text", :name => 'message', 'ng-model'=>'message', 'ng-required'=>true}
        %span.input-group-btn
          %input.btn.btn-default{:type => 'submit', :value => 'Send!', 'ng-disabled'=>true}