.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand(href="#") ChatApp
      %button.navbar-toggle(data-target=".nav-responsive-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse.navbar-responsive-collapse
      = render "layouts/navigation"